# Ignore build output directories
bin/
obj/
artifacts/

# User-specific files
*.user
*.suo
*.userosscache
*.userprefs

# Rider files
.idea/
.idea_modules/
*.ipr
*.iws
*.iml
*.sln.iml

# Visual Studio Code files
.vscode/
.vs/

# Selenium driver files
*.exe
*.dll
*.zip
Driver/

# Selenium logs
logs/
*.log

# ASP.NET Core files
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Windows-specific files
Thumbs.db
desktop.ini
$RECYCLE.BIN/
ehthumbs.db

# NuGet Packages
*.nupkg
*.snupkg
*.nuspec
packages/
.nuget/

# DotNetPublish folder
DotNetPublish/

# Package directories
node_modules/
bower_components/

# Logs
*.log

# Environment files
*.env

# Additional files
*.temp
*.tmp
